name: Angular Frontend CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Baixar Código
      uses: actions/checkout@v4

    - name: Configurar Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        cache: 'npm'

    - name: Instalar Dependências
      run: npm ci

    - name: Rodar Testes (Chrome Headless)
      # --no-watch: Roda uma vez e para
      # --browsers=ChromeHeadless: Roda sem precisar de tela
      run: npx ng test --no-watch --browsers=ChromeHeadless